@mixin flex-row(
  $justify-content: space-between,
  $align-items: center,
  $gap: 0
) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin flex-column($justify-content: center, $gap: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  gap: $gap;
}
