header {
  padding-top: 32px;
  padding-left: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 16px;
  height: 16px;
  margin-right: 2.5px;
}

.logo {
  font-size: 16px;
  margin: 0;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 16px;
}

.nav-link {
  color: var(--gray);
  text-decoration: none;
}

.nav-link[href="index.html"] {
  color: var(--white);
}

.nav-link::before {
  content: "#";
  color: var(--primary);
  margin-right: 1px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 112px;
  max-width: 1024px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  margin-top: 62px;
}

.hero-content {
  flex: 1;
}

.hero-content span {
  color: var(--primary);
}

.hero-content p {
  margin-bottom: 24px;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-note-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--gray);
  padding: 8px;
  width: 402px;
}

.purple-square {
  width: 16px;
  height: 16px;
  background-color: var(--primary);
}

.portfolio-note {
  margin: 0;
}

.portfolio-note span {
  color: var(--white);
  font-style: bold;
}

/* Quote */
.quote {
  position: relative;
  text-align: center;
  border: 1px solid var(--gray);
  margin: 0 auto;
}

.quote blockquote {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 32px;
}

.quote blockquote::before,
.quote blockquote::after {
  content: '"';
  position: absolute;
  color: var(--gray);
  font-style: italic;
  font-size: 56px;
  font-weight: bold;
  background-image: linear-gradient(var(--background), var(--background));
  background-size: 100% 45%;
  background-repeat: no-repeat;
}

.quote blockquote::before {
  top: -20px;
  left: 20px;
}

.quote blockquote::after {
  top: 76px;
  right: 20px;
}

.quote figcaption {
  color: var(--white);
  font-size: 24px;
  border: 1px solid var(--gray);
  padding: 16px;
  right: -1px;
  position: absolute;
  border-top: none;
}

/* Social links */
.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 17px;
  gap: 8px;
}
.social-links-line {
  width: 1px;
  height: 191px;
  background-color: var(--gray);
}

.social-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-header h2 {
  position: relative;
}

.projects-header h2::before {
  content: "#";
  color: var(--primary);
}

.projects-header h2:after {
  content: "";
  background-color: var(--primary);
  width: 511px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translate(100%, -50%);
}

.projects-link {
  color: var(--white);
  text-decoration: none;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  align-items: start;
}

.project-card {
  border: 1px solid var(--gray);
}

.project-card img {
  width: 100%;
  object-fit: cover;
}

.project-card ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--gray);
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid var(--gray);
}

.project-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-info p {
  font-size: 16px;
}

.project-info h3 {
  font-size: 24px;
  margin: 0;
}
